pydata-sphinx-theme #==0.13.1
jupyter-book# ==0.15.1
#pyppeteer
#ipython
plotly #==6.0.0
pandas #==2.0.3
ipywidgets #==8.1.5

# data processing reqs
python-dateutil #==2.9.0
#google-api-python-client 
#google-auth-httplib2 
#google-auth-oauthlib
#oauth2client